# Dependências
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
out/
*.tsbuildinfo

# Ambiente
.env
.env.local
.env.*.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# IDE
.vscode/
.idea/
*.swp

# Testes
coverage/
.nyc_output/

# Prisma
prisma/migrations/dev.db
*.db
*.sqlite

# Sistema
.DS_Store
Thumbs.db.env
